body {
    font-family: 'Cambo', sans-serif;
}

/* logo */
.custom-logo {
    margin-right: 15px !important;
    margin-left: 5px !important;
}

.custom-card {
    width: 20 !important;
    height: 5 !important;
}

.black {
    background: black !important;
}