body {
    background: rgb(128, 203, 234);
    color: black;
}



.custom-margin-left {
    margin-left: 30px !important;
}


.info-contacto {
    background-color: #343a40 !important;
    color: white !important;
    margin-top: 20px !important;
    padding: 20px !important;
    margin: 20px 0 !important;
    border-top: 1px solid !important;
    border-left: 1px solid !important;
    border-right: 1px solid !important;
}

.cuadro-con-bordes {

    border: 2px solid black; 
    padding: 15px; 
    text-align: center; 
    background-color: #cfe7eb; 
    width: 450px; 
    border-radius: 10px; 
}

.imagen_abc_topico {

    display: flex ; 
    align-items: center ; 
    
}

.imagen_preguntas_topico{

    display: flex ; 
    align-items: center ; 
    
}

.imagen_emociones_topico{

    display: flex ; 
    align-items: center ; 
    
}

.imagen_familia_topico{

    display: flex ; 
    align-items: center ; 
    
}

.imagen_casa_topico{

    display: flex ; 
    align-items: center ; 
    
}

.imagen_escuela_topico{

    display: flex ; 
    align-items: center ; 
    
}