*{
    transition: all 0.6s;
}


body {
    background: slategray;
    padding: 0;
    margin: 0;
    text-align: center;
}

.btn-contenedor {
    display: flex;
    justify-content: space-around; 
    margin-top: 20px;
}

.contenedor {
    width: 65vw;
    max-width: 900px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.custom-margin-left {
    margin-left: 10px !important;
}

.encabezado {
    background: white;
    min-width: 100px;
    width: 70%;
}

.categoria {
    opacity: 0.5;
    text-align: left;
}

.pregunta {
    padding: 10;
}

.btn {
    background: white;
    width: 60%;
    padding: 10px;
    margin: 5px;
}

.btn:hover {
    background: rgb(128, 203, 234);
    cursor: pointer;
    transform: scale(1.05);

}

.video {
    text-align: center;
}


#continuar {
    display: none; 
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(128, 203, 234); 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

#continuar:hover {
    background-color: #2980b9; 
}
