body {
    background-color: rgb(128, 203, 234);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    margin-bottom: 10px;
}

img {
    border-radius: 50%;
}

a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

h2 {
    margin-left: 120px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}
