{% extends 'owl_blue_app/base.html' %}
{% load static %}

{% block header %}
    <title>Owl Blue | {{ categoria_elegida }}</title>
    <link rel="stylesheet" href="{% static 'css/capsula0.css' %}">
{% endblock %}

{% block content %}
    <main class="container">
        <div class="row">
            <div class="col-md-12 offset-md-0 mt-4">
                <form method="POST" class="card card-body">
                    {% csrf_token %}
                    <h1 class="text-center">{{ categoria_elegida }}: Cápsula 0</h1>
                    {% for explicacion in explicaciones %}
                    {% if explicacion.vid %}
                    <p></p>
                    <h3 class="text-center">Video:</h3>
                    <p></p>
                    <div class="video">
                        <iframe width="560" height="315" src="{{ explicacion.vid }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <p></p>
                    {% endif %}
                    {% if explicacion.img %}
                    <h3 class="text-center">Imagen de apoyo:</h3>
                    <p></p>
                    <div class="imagen">
                        <img src="{{ explicacion.img }}" alt="{{ explicacion.categoria }}"></img>
                    </div>
                    <p></p>
                    {% endif %}
                    {% endfor %}
                    <a class= "text-center" href="{% url 'lessons' categoria_elegida %}">¡Empezar la lección!</a>
            </form>
        </div>
    </div>
</main>
{% endblock %}