{% extends 'owl_blue_app/base.html' %}
{% load static %}

{% block header %}
    <title>Owl Blue | Home</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block content %}
    <img src="{% static 'img/owlblue_icon1.png' %}">
    <!-- Mensaje de bienvenida (post-registro) -->
    {% if mensaje_confirmacion %}
    <div id="check">
        {{ mensaje_confirmacion }}
    </div>
    {% endif %}
{% endblock %}

