{% extends 'owl_blue_app/base.html' %}
{% load static %}

{% block header %}
    <title>Owl Blue | Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="{% static 'js/index.js' %}"></script> <!-- Mensaje de confirmación en js-->
{% endblock %}

{% block content %}
    <!-- Mensaje de confirmación (post-registro) -->
    {% if mensaje_confirmacion %}
    <div id="check">
        {{ mensaje_confirmacion }}
    </div>
    {% endif %}
    <main class="container-fluid">
        <div class="col-md-5 mt-4 card card-body">
            <h1>Primera página que ayudará al aprendizaje del lenguaje de señas</h1> 
        </div>
        
    </main class="container-fluid">
        <div>
            <h2>voy a pobrobar una imagen de prueba</h2>
        </div>

        <img src="{% static 'img/manos sin fondo.png' %}" width="400"/>

    <main>


    </main>
{% endblock %}
