{% extends 'owl_blue_app/base.html' %}
{% load static %}
{% block header %}
    <link rel="stylesheet" href="{% static 'css/lessons.css' %}">
    <script>
        var categoria = "{{ categoria }}";
    </script>
    <script src="{% static 'js/lessons.js' %}" defer></script> 
{% endblock %}
{% block content %}
    <div class="contenedor mt-4">
        <div class="encabezado">
            <div id="categoria" class="categoria custom-margin-left mt-2">
            </div>
            <div id="pregunta"  class="pregunta">
            </div>
            <p></p>
            <div id="video" class="video"> 
            </div>
            <p></p>
        </div>
        <div class="btn" id="btn1" onclick="oprimir(0)"></div>
        <div class="btn" id="btn2" onclick="oprimir(1)"></div>
        <div class="btn" id="btn3" onclick="oprimir(2)"></div>
        <div class="btn" id="btn4" onclick="oprimir(3)"></div>
        <button id="continuar" onclick="cambiarPregunta()">Continuar</button>
    </div>
{% endblock %}
