{% extends 'owl_blue_app/base.html' %}
{% load static %}
{% block header %}
    <link rel="stylesheet" href="{% static 'css/lessons.css' %}">
    <script src="{% static 'js/lessons.js' %}"></script> 
{% endblock %}
{% block content %}
    <div class="contenedor">
        <div class="encabezado">
            <div class="categoria">
                {{ actividades.0.categoria }} 
            </div>
            <div class="pregunta">
                {{ actividades.0.pregunta }}
            </div>
            <p></p>
            <div class="video">
                {{ actividades.0.videos|safe }}  
            </div>
            <p></p>
        </div>
        <div class="btn" id="btn1">{{ actividades.0.respuesta }}</div>
        <div class="btn" id="btn2">{{ actividades.0.alternativa1 }}</div>
        <div class="btn" id="btn3">{{ actividades.0.alternativa2 }}</div>
        <div class="btn" id="btn4">{{ actividades.0.alternativa3 }}</div>
        <button id="siguiente">Siguiente</button>
    </div>
{% endblock %}
